<% layout('layouts/boilerplate') -%>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <h2>Order Receipts</h2>

        <% orders.forEach(function(order) { %>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <% order.cart.items.forEach(function(item) { %>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Customer Info</h4>
                                <p>
                                    <strong>Name:</strong> <%= order.name %><br>
                                    <strong>Email:</strong> <%= order.email %><br>
                                    <strong>Address:</strong> <%= order.address %>
                                </p>
                                <hr>
                            </div>
                            <div class="col-md-4">
                                <h4>Tour Details</h4>
                            <strong>Product:</strong> <%= item.title %><br>
                            <% if(item.comboProduct) { %>
                            <strong>Combo Product:</strong> <%= item.comboProduct.title %><br>
                            <% } %>
                            <strong>Total Cost:</strong>
                            $<%= item.price %>
                            <hr>
                            </div>
                            <div class="col-md-4">
                                <h4>Persons:</h4>
                                <strong>Adult:</strong> <%= item.persons.adult %><br>
                                <strong>Senior:</strong> <%= item.persons.senior %><br>
                                <strong>Child:</strong> <%= item.persons.child %><br>
                                <strong>Total:</strong> <span class="badge"><%= item.qty %></span>
                                <hr>
                            </div>
                     </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <div class="panel-footer"><strong>Total Price: $<%= order.cart.totalPrice %></strong></div>
        </div>
        <% }); %>

    </div>
</div>