<% layout("layouts/boilerplate") -%>

<form action="/products/<%= product._id %>" method="POST">
	<label for="name">Name:</label>
	<input type="name" id="name" name="product[name]" value="<%= product.name %>" required>

	<label for="image">Image:</label>
	<input type="text" id="image" name="product[image]" value="<%= product.image %>" required>

	<h4>Prices</h4>
	<label for="adult">Adult:</label>
	<input type="text" name="product[prices][adult]" value="<%= product.prices.adult %>" id="adult">

	<label for="child">Child:</label>
	<input type="text" name="product[prices][child]" value="<%= product.prices.child %>" id="child">

	<label for="senior">Senior:</label>
	<input type="text" name="product[prices][senior]" value="<%= product.prices.senior %>" id="senior">

	<h4>Description</h4>
	<div id="summernote" name="test">
		<%- product.description %>
	</div>

	<input type="submit" class="btn btn-primary">
</form>

<script>
	$(document).ready(function() {
	  $('#summernote').summernote({height: 200});
	  $('form').submit(function(e) {
	  	e.preventDefault();
	  	var html = $('#summernote').summernote('code');
	  	var formData = $(this).serialize();
	  	formData += '&product%5Bdescription%5D=' + html;
	  	$.ajax({
	  		url: $(this).attr('action'),
	  		data: formData,
	  		type: 'PUT',
	  		success: function(response) {
		  		if(response === "Success!") {
		  			window.location = "/products";
		  		}
	  		}
	  	});
	  })
	});
</script>