<% layout("layouts/boilerplate") -%>

<form action="/products/<%= product._id %>?_method=PUT" method="POST">
	<label for="name">Name:</label>
	<input type="name" id="name" name="product[name]" value="<%= product.name %>" required>

	<label for="image">Image:</label>
	<input type="text" id="image" name="product[image]" value="<%= product.image %>" required>

	<h4>Prices</h4>
	<label for="adult">Adult:</label>
	<input type="text" name="product[prices][adult]" value="<%= product.prices.adult %>" id="adult">

	<label for="child">Child:</label>
	<input type="text" name="product[prices][child]" value="<%= product.prices.child %>" id="child">

	<label for="senior">Senior:</label>
	<input type="text" name="product[prices][senior]" value="<%= product.prices.senior %>" id="senior">

	<input type="submit">
</form>