<% layout("/layouts/boilerplate") -%>

<!--Flash messages-->
<% if(error && error.length > 0){ %>
<div id="flash" class="alert alert-danger col-md-6 col-md-offset-3" role="alert">
    <%= error %>
</div>
<% } %>
<% if(success && success.length > 0){ %>
<div id="flash" class="alert alert-success col-md-6 col-md-offset-3" role="alert">
    <%= success %>
</div>
<% } %>

<% if (products != null) { %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
            <!--Generate shopping cart content list-->
            <% products.forEach(function (product) { %>
            <li class="list-group-item">
                <span class="badge"><%= product.item.qty %></span>
                <strong><% if(product.item.alcatraz) { %>
                Alcatraz: 
                <% } else { %>
                Product: 
                <% } %></strong>
                <%= product.item.title %>
                <br>
                <% if(product.item.comboProduct) { %>
                    <strong>Combo Product:</strong> <%= product.item.comboProduct.title %>
                <% } %>
                <br>
                <strong>Price:</strong> $<%= product.item.price %>
                <div class="pull-right">
                    <a class="btn btn-warning btn-xs" role="button" data-toggle="collapse" href="#<%= product.item.alcatraz._id %>" aria-expanded="false" aria-controls="<%= product.item.alcatraz._id %>">
                      Edit
                    </a>
                    <a href="/remove/<%= product.item.alcatraz._id %>" role="button" class="btn btn-danger btn-xs">Remove</a>
                </div>
                <div class="collapse edit-cart" id="<%= product.item.alcatraz._id %>">
                  <div class="well">
                    <form action="/update/<%= product.item.alcatraz._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label for="adult">Adult:</label>
                            <input type="number" name="persons[adult]" id="adult" class="form-control" step="1" min="0" value="<%= product.item.persons.adult %>">
                        </div>
                        <div class="form-group">
                            <label for="senior">Senior:</label>
                            <input type="number" name="persons[senior]" id="senior" class="form-control" step="1" min="0" value="<%= product.item.persons.senior %>">
                        </div>
                        <div class="form-group">
                            <label for="child">Child:</label>
                            <input type="number" name="persons[child]" id="child" class="form-control" step="1" min="0" value="<%= product.item.persons.child %>">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Update Cart">
                    </form>
                  </div>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>

<% } %>

<% if (products == null) { %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>No items in your cart.</h3>
    </div>
</div>

<% } %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <strong>Total: <% if(totalPrice) { %>$<%= totalPrice %><% } else { %>$0 <% } %></strong>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>