<% layout("/layouts/boilerplate") -%>

<!--Flash messages-->
<% if(error && error.length > 0){ %>
<div id="flash" class="alert alert-danger col-md-6 col-md-offset-3" role="alert">
    <%= error %>
</div>
<% } %>
<% if(success && success.length > 0){ %>
<div id="flash" class="alert alert-success col-md-6 col-md-offset-3" role="alert">
    <%= success %>
</div>
<% } %>

<% if (products != null) { %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
            <!--Generate shopping cart content list-->
            <% products.forEach(function(product, i) { %>
            <li class="list-group-item">
                <span class="badge"><%= product.qty %></span>
                <strong><% if(product.alcatraz) { %>
                Alcatraz: 
                <% } else { %>
                Product: 
                <% } %></strong>
                <%= product.title %>
                <br>
                <% if(product.comboProduct) { %>
                    <strong>Combo Product:</strong> <%= product.comboProduct.title %>
                <% } %>
                <br>
                <strong>Price:</strong> $<%= product.price %>
                <br>
                <% if(product.persons.adult) { %>
                    <strong>Adult:</strong> <%= product.persons.adult %>
                <% } %>
                <% if(product.persons.senior) { %>
                    <strong>Senior:</strong> <%= product.persons.senior %>
                <% } %>
                <% if(product.persons.child) { %>
                    <strong>Child:</strong> <%= product.persons.child %>
                <% } %>
                <div class="pull-right">
                    <a href="/remove/<%= i %>" role="button" class="btn btn-danger btn-xs">Remove</a>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>

<% } %>

<% if (products == null) { %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>No items in your cart.</h3>
    </div>
</div>

<% } %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <strong>Total: <% if(totalPrice) { %>$<%= totalPrice %><% } else { %>$0 <% } %></strong>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>