<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="<%= product.image %>" alt="<%= product.name %>">

			<div class="caption">
				<h4><%= product.name %></h4>
				<h6>From: $<%= product.prices.adult %></h6>
				<p class="description">Combine any product with Alcatraz Island Tour</p>
			</div>
		</div>

		<div class="well">
			<%- product.description %>
		</div>
	</div>
	<div class="col-md-8">
		<form action="#" id="alcatraz-purchase-form" method="POST">
			<div class="form-group form-group-lg">
				<label for="adult">Adult:</label>
				<input type="number" name="adult" id="adult" class="form-control" step="1" min="0" value="0">

				<label for="child">Child:</label>
				<input type="number" name="child" id="child" class="form-control" step="1" min="0" value="0">

				<label for="senior">Senior:</label>
				<input type="number" name="senior" id="senior" class="form-control" step="1" min="0" value="0">
			</div>
			<div>
				<h4>Total:</h4>
				$<span id="totalDisplay">0.00</span>
			</div>
			<input type="submit" class="btn btn-primary" value="Add to cart">
		</form>
	</div>
</div>

<form action="/products/<%= product._id %>?_method=DELETE" method="POST">
	<input type="submit" value="Delete" class="btn btn-danger">
</form>

<script>
	$("#alcatraz-purchase-form").on("input", function(e) {

		$totalDisplay = $("#totalDisplay");

		var prices = {
			"1-day-big-bus": {
				adults: 140,
				children: 120
			},
			"2-day-big-bus": {
				adults: 180,
				children: 160
			}
		};

		// calculate purchase total
		var adults = prices[e.currentTarget[0].value][e.currentTarget[1].id] * Number(e.currentTarget[1].value);
		var children = prices[e.currentTarget[0].value][e.currentTarget[2].id] * Number(e.currentTarget[2].value);
		var sum = (adults + children).toFixed(2);

		// update DOM
		$totalDisplay.text(sum);

		// set data-amount attribute for stripe form
		$("#stripe").attr("data-amount", sum)
	});
</script>